@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
	height: 100%;
}

body {
    margin: 0px;
}

nex-app-container,
main,
main > *:not(router-outlet) {
    display: flex;
    flex-flow: column;
    height: 100%;
}